:root {
    --branding-color:#e8ebed ;
    --secondary-color: #4ba3a3;
    --text-color:grey;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "poppins", sans-serif;
  }
  

  body {
    font-family: var(--default-font-family);
    color: var(--text-color);
  }

  h1 {
    text-align: center;
    color: aquamarine;
  }

  h1,
h2,
h3,
h4,
h5,
h6 {
  color: color: var(--text-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
}




.card {
    background-color:  #e8ebed;
    height:300px;
    padding-left: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
}


.hero {
    background-color:  var(--secondary-color);
    /* text-align: center; */
    padding: 160px 20px;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .herotwo {
    background-color: #747575;
    text-align: center;
    padding: 160px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  } 

  .herothree {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .work {
    font-size: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:azure;
    font-family: var(--default-font-family);
  }

  .about {
    font-size: 25px;
    color: #e8ebed;
  }